{# templates/shopping_list/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Edit {{ list.name }} shopping list{% endblock %}

{% block body %}
    <section class="py-5 bg-light">
        <div class="container bg-white p-3">
            <h1 class="mb-3">Edit {{ list.name }}</h1>
            <p class="mb-3 text-muted">&nbsp;</p>
            <div class="row">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                    <button class="btn btn-primary">Update</button>
                    <a href="{{ path('app_shopping_list_index') }}" class="btn btn-secondary">
                        Back to lists
                    </a>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}