{% extends 'base.html.twig' %}

{% block title %}Add New Shopping List{% endblock %}

{% block body %}
    <section class="py-5 bg-light">
        <div class="container bg-white p-3">
            <h1 class="mb-3">New shopping list</h1>
            <p class="mb-3 text-muted">Compose your list</p>
            <div class="row">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                <ul class="items" data-prototype="{{ form_widget(form.items.vars.prototype)|e('html_attr') }}">
                    {% for item in form.items %}
                        <li>{{ form_row(item.amount) }} {{ form_row(item.name) }}</li>
                    {% endfor %}
                </ul>
                
                <button type="button" class="add_item btn btn-sm custom-button mb-3">+ Add ingredient</button>
                <button type="submit" class="btn btn-sm custom-button mb-3">Save list</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
    <script>
        document.querySelector('.add_item').addEventListener('click', function() {
            const items = document.querySelector('.items');
            const prototype = items.dataset.prototype;
            const newForm = prototype.replace(/__name__/g, items.children.length);
            items.insertAdjacentHTML('beforeend', newForm);
        });
    </script>
{% endblock %}